{% extends 'base.html' %}
{% load i18n add_css %}

{% block content %}

{% for error in form.non_field_errors %}
  <div class="alert alert-danger">
    {{ error }}
  </div>
{% endfor %}

<form method="POST" id="tuw-login"
  action="{% url 'login' %}">{% csrf_token %}

  {% for field in form %}
    <div class="form-group{% if field.errors %} has-error has-feedback{% endif %}">
      <label class="control-label" for="{{ field.id_for_label }}">
        {{ field.label }}
      </label>  
      {{ field|add_class_to_field:"form-control" }}
    
      {% if field.errors %}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      {% endif %}
    </div>
  {% endfor %}

  <button type="submit"
    id="tuw-submit-login" class="btn btn-default">
    {% trans "Login" %}
  </button>

</form>
{% endblock content %}
